
/*--------------- basic styling --------------- */
@font-face {
      font-family: "Bad Russian";
      src: url(/fuentes/BadRussian-Regular.otf);
      
}
@font-face {
      font-family: "Monument";
      src: url(/fuentes/MonumentExtended-Ultrabold.otf);

}

@font-face {
      font-family: "TeleR";
      src: url(/fuentes/PPTelegraf-Regular.otf);

}
@font-face {
      font-family: "TeleUB";
      src: url(/fuentes/PPTelegraf-UltraBold.otf);

}
@font-face {
      font-family: "TeleUL";
      src: url(/fuentes/PPTelegraf-UltraLight.otf);

}
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: " Inter" !important;
      background: #ffffff !important;
      color: #fff !important;
}
.rowm {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 60px;
      margin-left: -15px;
}

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

/*--------------- typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 18em;
      }
}

@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 17em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

/*--------------- navigation --------------- */
.back-video {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
}
nav {
      width: 100%;
      background: #1D1D1F;
      height: 80px;
      position: fixed;
      z-index: 2;
}

nav #brand {
      float: left;
      cursor: pointer;
      display: block;
      margin-left: 82px;
      font-size: 20.0873px;
      line-height: 80px;
      font-weight: bold;
      font-family: "Inter";
}
a:hover::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: 0 50%;
      transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.1s linear;
}

a::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 50%;
      margin-top: -32px;
      margin-left: 40px;
      height: 2px;
      background: #ffffff;
      transform: scaleX(0.001);
      opacity: 0;
      transform-origin: 100% 50%;
      transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.1s linear 0.2s;
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-family: "Inter" !important;
      font-weight: 200;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
      font-size: 12.4206px;
      
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

.container-fluid {
      background-color: white;
      width: 100%;
      height: 100vh;
      /* color: white; */
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto
}


#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      font-family: "Inter";
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 15px;
            font-family: "Inter";
            font-weight: 500;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
            font-family: "Inter";
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero {
      height: 100vh;
      display: flex;
      position: absolute;
      z-index: 1;
      width: 100%;
      align-items: center;
      justify-content: center;
}

.hero h1 {
      text-align: center;
      letter-spacing: 2px;
      font-family: "Source Code Pro";
      font-size: 100px;
      font-weight: 500;
      width: 700px;
      
}

.hero .title2 {
      font-family: "Monument";
      font-size: 60px;
      font-weight: 800;
      width: 680px;
}
a.example::after {
      display: none;
}





@media(max-width: 768px) {
      .header h1 {
            font-size: 26px;
      }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 13px;
      height: 13px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- projects section --------------- */



h6 {
      text-align: center;
      color: black;
}

.text2 {
      text-align: center;
      font-family: "TeleUB";
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: 800;
      margin-top: 920px;
      color: black;
}

.text3 {
      text-align: center;
      font-family: "TeleUB";
      font-size: 30px;
      margin-bottom: 250px;
      font-weight: 800;
      color: black;
}


.texto-img{
      display: flex;
      position: absolute;
}
.text {
      text-align: center;
      width: 1200px;
      font-size: 52px;
}
.text span {
      font-family: "TeleUL";
      font-size: 30px;
}



.text span {
      font-family: "TeleUL";
      font-size: 30px;
}
.container-3 {
      display: grid;
            position: relative;
            grid-area: 1 / 2 / 2 / 3;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
}
.btn-1 {
display: inline-block;
      outline: 0;
      cursor: pointer;
      padding: 5px 16px;
      font-family: "Open Sans";
      font-size: 15px;
      line-height: 20px;
      vertical-align: middle;
      border: 1px solid;
      border-radius: 20px;
      color: #ffffff;
      background-color: transparent;
      border-color: #fbfbfc;
      box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
      transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
      transition-property: color, background-color, border-color;

      :hover {
            background-color: #f3f4f6;
            border-color: #1b1f2326;
            transition-duration: 0.1s;
      }
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}
.card img {
      height: 220px;
}

.card-container {
      margin-top: 30px;
      text-align: center;
}

.card {
      height: 600px;
      width: 380px;
      text-align: center;
      font-family: "TeleUB";
      padding: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding-bottom: 30px;
      border-radius: 30px !important;
      
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin-top: 25px;
      transition: 0.7s;
}



.card h1 {
      margin-bottom: 20px;
      margin-top: 20px;
}

.card p {
      margin-bottom: 20px;
}

.card-container {
      margin-top: 40px;
      margin-bottom: 50px;
}

.cards {
      margin-top: 45px;
      display: flex;
      justify-content: space-evenly;
}

.card:hover {
      transform: scale(1.1);
      cursor: pointer;
}

.button-redondo {
      margin-top: 430px;
      margin-left: 270px;
      width: 60px;
      height: 60px;
      background: #2c2c2c;
      color: #ffffff;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      text-decoration: none;
      transition: background 0.2s;
}

.rounded-button:hover {
      background: #000000;
}

.event-pictures img {
      height: 400px;
}

.event-pictures {
      display: flex;
      justify-content: space-evenly;
}

.project {
      height: 500px;
}

.project1 {
      background: url(img/img-four.jpeg) no-repeat 50% 50%;
      background-size: cover;
}

.project1::after {
      content: "SABEMOS LO QUE HACEMOS. que tu mARCA SEA UNA EXPERIENCIA.";
      font-family: "Bad Russian";
      font-size: 40px;
      width: 450px;
      position: relative;
      color: #fff;
      display: block;
      top: 30%;
      left: -160%;
      right: 0;
      bottom: 0;
}

.project2 {
      background: url(https://images.unsplash.com/photo-1468870045442-e7d799d8c98a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2448&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project2::after {
      content: "foretime.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: 90%;
      right: 0;
      bottom: 0;
}

.project3 {
      background: url(https://images.unsplash.com/photo-1482501157762-56897a411e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project3::after {
      content: "never again.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 80%;
      left: -50%;
      right: 0;
      bottom: 0;
}

.project4 {
      background: url(https://images.unsplash.com/photo-1435685813800-51ba4ceb9c4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1785&q=80) no-repeat 50% 50%;
      background-size: cover;
}

.project4::after {
      content: "departure.";
      font-family: "Roboto Mono";
      font-size: 36px;
      position: relative;
      color: #fff;
      display: block;
      top: 10%;
      left: 90%;
      right: 0;
      bottom: 0;
}

@media(max-width: 768px) {
      .project {
            width: 90% !important;
            margin: 14px auto;
      }

      .vertical {
            display: none;
      }

      .project1::after, .project2::after, .project3::after, .project4::after {
            display: none;
      }
}

/*--------------- footer section --------------- */
footer-f {
      position: relative;
      width: 100%;
      height: auto;
      padding-top: 80px;
      background-color: #F7F7F7;
}

.container-f {
      width: 100%;
      max-width: 1320px;
      margin: 0 auto;
      padding: 0 12px;
}

.wrapper-f {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
}

.wrapper-f .footer-widget {
      width: calc(20% - 30px);
      margin: 0 15px 50px;
      padding: 0 12px;
}

.wrapper-f .footer-widget:nth-child(1) {
      width: calc(40% - 50px);
      margin-right: 15px;
}

.wrapper-f .footer-widget .logo {
      margin-bottom: 30px;
      width: 100%;
      vertical-align: middle;
}

.wrapper-f .footer-widget p {
      margin-bottom: 40px;
      font-size: 18px;
      font-family: 'TeleR';
      line-height: 24px;
}

.wrapper-f .footer-widget .socials {
      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.wrapper-f .footer-widget .socials li {
      list-style: none;
}

.wrapper-f .footer-widget .socials li a {
      width: 44px;
      height: 44px;
      margin-right: 10px;
      color: #ffffff;
      background-color: rgb(56, 61, 65);
      border-radius: 50%;
      font-size: 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-out;
}

.wrapper-f .footer-widget .socials li a:hover {
      background-color: #000000;
}

.wrapper-f .footer-widget h6 {
      color: #fff;
      letter-spacing: 3px;
      font-family: 'TeleR';
      margin: 70px 70px 25px 20px;
      font-size: 20px;
      font-weight: 600;
}

.wrapper-f .footer-widget .links li {
      list-style: none;
}

.wrapper-f .footer-widget .links li a {
      color: #fff;
      font-family: 'TeleUL';
      font-size: 20px;
      text-decoration: none;
      text-transform: capitalize;
      line-height: 32px;
      transition: all 0.3s ease-out;
}

.wrapper-f .footer-widget .links li a:hover {
      color: #5A51D3;
}

.copyright-wrapper {
      padding: 20px 0;
      border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
      color: rgb(253, 253, 253);
      font-size: 14px;
      font-family: "Open Sans";
      font-weight: 500;
      text-align: center;
}

.copyright-wrapper p a {
      color: inherit;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
      color: #037ef3;
}

/* Let's write the media query */
@media (max-width: 992px) {
      .container-f {
            max-width: 960px;
      }

      .wrapper-f .footer-widget,
      .wrapper-f .footer-widget:nth-child(1) {
            width: calc(50% - 30px);
      }
}

@media (max-width: 768px) {
      .container-f {
            max-width: 720px;
      }

      .wrapper .footer-widget,
      .wrapper .footer-widget:nth-child(1) {
            width: 100%;
            margin: 0 10px 50px;
      }
}

/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
}

.hero-content p {
      font-weight: 300;
      line-height: 36px;
      color: grey;
}

.hero-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
      margin-top: 120px;
}

.image {
      background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80) no-repeat 50% 70%;
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next p {
      color: grey;
}

.prev p {
      text-align: left;
}

.next p {
      text-align: right;
}

#page17 {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #f7f7f7;
      color: #1D1D1F;
}

#page17>h4 {
      font-size: 2vw;
      font-family: 'TeleUB';
      font-weight: 500;
      margin-bottom: 2vw;
}

#page17>h1 {
      font-size: 3vw;
      line-height: 1;
      font-family: 'TeleUB';
      font-weight: 500;
      margin-bottom: 3vw;
}

#page17>p {
      font-size: 1.5vw;
      /* font-weight: 500; */
      font-family: 'TeleR';
      margin-bottom: 2vw;
      color: #89898E;
      width: 50%;
      text-align: center;
}

#page17>p>span {
      font-family: "TeleUB";
      color: #1D1D1F;
}

/*contacto*/
.contacto-texto {
      color: #1d1d1d;
      font-family: "TeleUB";
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
}

#contact-form input,
#contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #383d41;
      font-weight: bolder;
}

.send{
      font-family: 'TeleUB';
      color: #1d1d1d;
            line-height: normal;
            text-decoration: none;
            border-radius: 60px;
            visibility: visible;
            animation-name: fadeInUp;
            border: 1px solid #222222;

}

#contact-form label {
      display: block;
      font-weight: 500;
      font-family: 'TeleR';
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input,
#contact-form textarea {
      font-size: 25px;
      width: 100%;
      font-family: 'TeleUB';
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #383d41;
      font-weight: bolder;
}

@media (max-width: 425px) {
nav {
            position: fixed;
            width: 425px;
            position: sticky;
            padding: 25px 0;
            transition: all 0.3s ease;
            z-index: 1;
      }
    nav #brand {
          margin-left: 24px;
          margin-top: -20px;
    }

    #resize {
          z-index: 2;
          top: 0px;
          position: fixed;
          background: #0f0f0f;
          width: 425px;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          transition: all 1s ease-out;
    }

    /* Hero*/
    .hero {
  width: 425px;
  min-height: 100vh;
 display: flex;
 justify-content: center;
  flex-direction: column;
}
 .hero h1 {
 text-align: center;
letter-spacing: 2px;
font-family: "Source Code Pro";
font-size: 55px;
 margin-top: -151px;
 font-weight: 500;
 width: 425px;
 }
 /* Container 1*/
 #page17>h1 {
       font-size: 5vw;
       text-align: center;
       width: 300px;
       line-height: 1;
       font-family: 'TeleUB';
       font-weight: 500;
       margin-bottom: 4vw;
 }

#page17>p {
      font-size: 12px;
      /* font-weight: 500; */
      font-family: 'TeleR';
      margin-bottom: 2vw;
      color: #89898E;
      width: 80%;
      text-align: center;
}

#page17 {
      position: relative;
      margin-top: -150px;
      height: 125vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #f7f7f7;
      color: #1D1D1F;
}
/* Container 3*/
.texto-img {
      /* font-size: 30px; */
      display: flex;
      position: absolute;
}
.text {
      text-align: center;
      width: 380px;
      font-size: 20px;
}

.text span {
      font-family: "TeleUL";
      font-size: 17px;
}

/* Container card */

.card {
      height: 394px;
      width: 207px;
      text-align: center;
      font-family: "TeleUB";
      padding: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding-bottom: 30px;
      border-radius: 30px !important;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      margin-bottom: 0px;
      margin-top: 78px;
      transition: 0.7s;
}

.cards {
      margin-top: 45px;
      display: grid;
      justify-content: space-evenly;
}

.card-text {
      font-size: 17px;
}

    .button-redondo {
          margin-top: 258px;
          margin-left: 120px;
          z-index: 900;
          width: 48px;
          height: 33px;
          background: #2c2c2c;
          color: #ffffff;
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
          border: none;
          text-decoration: none;
          transition: background 0.2s;
    }
.wrapper-f .footer-widget h6 {
      color: #fff;
      letter-spacing: 3px;
      font-family: 'TeleR';
      margin: 68px 186px 25px 20px;
      font-size: 20px;
      font-weight: 600;
}

}

@media (max-width: 375px) {
      nav {
                  position: fixed;
                  width: 375px;
                  position: sticky;
                  padding: 25px 0;
                  transition: all 0.3s ease;
                  z-index: 1;
            }

    #resize {
          z-index: 2;
          top: 0px;
          position: fixed;
          background: #0f0f0f;
          width: 375px;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          transition: all 1s ease-out;
    }
        .hero {
        width: 375px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .hero h1 {
          text-align: center;
          letter-spacing: 2px;
          font-family: "Source Code Pro";
          /* margin-left: -36px; */
          font-size: 50px;
          margin-top: -151px;
          font-weight: 500;
          width: 374px;
    }

              .text {
                    text-align: center;
                    width: 350px;
                    font-size: 20px;
              }
    .button-redondo {
          margin-top: 260px;
          margin-left: 120px;
          z-index: 900;
          width: 48px;
          height: 33px;
          background: #2c2c2c;
          color: #ffffff;
          text-decoration: none;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
          border: none;
          text-decoration: none;
          transition: background 0.2s;
    }
}